//@import '~antd/dist/antd.css';
.ui-background {
    margin-top: 12px;
    background-color: #fff;
    padding: 12px;
}
.logo{
    height: 50px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
}

// form 
.ant-form-item-control-wrapper {
    a {
        min-width: 30px;
        display: block;
    }
}

.ant-form-item {
    display: flex;
}

.form-item-inline {
    padding-left: 71px;
     display: flex;
     .ant-form-item-control-wrapper {
         width: auto;
     }
     div {
        display: flex;         
     }
 }